extends ../node_modules/pug-bootstrap/_bootstrap
append head
	// Global site tag (gtag.js) - Google Analytics
	script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-146372309-1')
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-146372309-1');
append styles
	// Custom styles for this template
	link(href='stylesheets/blog.css', rel='stylesheet')
block body
	nav#topnav.navbar.navbar-default.fixed-to-top
		.container
			.navbar-header
				button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a(class="navbar-brand", href="../", style={color: "#FFFFFFFF"}) bonnivoire-ev
			#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href='/blog', style={color: "#FFFFFFFF"}) Kongossa
					//li
						a(href='/beaute', style={color: "#FFFFFFFF"}) Conseils beauté
					//li
						a(href='/about', style={color: "#FFFFFFFF"}) Conseils cuisine
					//li
						a(href='/espaceHomme', style={color: "#FFFFFFFF"}) Espace hommes
							//a.blog-nav-item(href='#') About
			


	.container
		.blog-header
			h1.blog-title Bonnivoire #{__('KONGOSSA_NAV_BEAUTE')}.
			p.lead.blog-description 
				font(color="#009E60") Toute l'actualité beauté, vêtements, business de la mode.
	hr.featurette-divider

	.jumbotron.jumbotron-fluid(style='background-color: #ffffffff')
		.container
			.embed-responsive.embed-responsive-16by9
				iframe(width='560' height='315' src='https://www.youtube.com/embed/7VReVmSIZpk?autoplay=1' frameborder='0' allow='accelerometer autoplay = 1; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
			<br/>
			<br/>
			<br/>
			h3.display-4 
				font(color="#009E60") Le pays bouge.
			font(color="#009E60") Ne reste pas figé.

	.jumbotron.jumbotron-fluid(style='background-color: #ffffffff')
		.container
			.embed-responsive.embed-responsive-16by9
				iframe(width='560' height='315' src='https://www.youtube.com/embed/ogHUExOAAHg?autoplay=1' frameborder='0' allow='accelerometer autoplay = 1; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
			<br/>
			<br/>
			<br/>
			h3.display-4 
				font(color="#009E60") Le pays bouge.
			font(color="#009E60") Ne reste pas figé.
			
				
	footer.blog-footer
		p
			font(color="#009E60") Bonnivoire beauté <br/> 
			font(color="#F77F00") © 2019 bonnivoire-ev 
				a(href='#', style={color: "#F77F00"}) - Privacy
				|  · 
				a(href='#', style={color: "#F77F00"}) -Terms