extends ../node_modules/pug-bootstrap/_bootstrap
append styles
	//	!-- Custom styles for this template --
	link(href="/stylesheets/cover-homme.css", rel="stylesheet")

block body
	.site-wrapper
		.site-wrapper-inner
			.cover-container
				.masthead.clearfix
					.inner
						h3.masthead-brand bonnivoire-ev
						nav
							ul.nav.masthead-nav
								//li.active 
									a(href="#") Home
								//li
									a(href="#") Features
								//li
									a(href="#") Contact
				.inner.cover
					h1.cover-heading Bienvenue sur bonnivoire-ev.de.
					p.lead Merci pour votre message, nous vous contactons le plus rapidement possible.
					p.lead
					a(href="../", class="btn btn-lg btn-default", style={color: "#F77F00"}) À bientôt

				.mastfoot
					.inner


