extends ../node_modules/pug-bootstrap/_bootstrap
append head
	// Global site tag (gtag.js) - Google Analytics
	script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-146372309-1')
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-146372309-1');

	link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet')
	script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
	script(src='//code.jquery.com/jquery-1.11.1.min.js')
	// ---- Include the above in your HEAD tag --------
append styles
	// Custom styles for this template 
	link(href="/stylesheets/coverSpender.css", rel="stylesheet")
block body
	.site-wrapper
		.site-wrapper-inner
			.cover-container
				.masthead.clearfix
					.inner
						h3.masthead-brand 
							//font(color= "#FFFFFF") bonnivoire-ev
						ul.nav.masthead-nav
							li.active
								a(href='../' target='_blank') Back to bonnivoire-ev
							//li
								a(href='#') Features
							//li
								a(href='#') Contact
				.inner.cover
					.jumbotron(style='background-color: #BADA55')
						.row
							.col-md-8.col-md-offset-2
								h1 
									font(color= "#009E60") UNDER CONSTRUCTION <br/>
									| 
								h2 
									font(color= "#009E60") Thinks for supporting us, english version nearly ready....
								h2
									strong 
										font(color= "#F77F00") bonnivoire e.V <br/><br/><br/><br/>
						
						.progress(style="height: 20px")
							.progress-bar.progress-bar-danger(role='progressbar' aria-valuenow='68' aria-valuemin='0' aria-valuemax='100' style='width: 68%;')
								| 63% Complete

							//.progress-bar.progress-bar-success(role='progressbar' aria-valuenow='40' aria-valuemin='0' aria-valuemax='100' style='width: 40%')
								span.sr-only 40% Complete (success)
					//h1.cover-heading 
						font(color= "#FFFFFF") Wir sind fast soweit
					//p.lead
						| Cover is a one-page template for building simple and
						| beautiful home pages. Download, edit the text, and add your own
						| fullscreen background color and photo to make it your own.
					//small
						br
						a(href='http://bootsnipp.com/iframe/g6GWQ' target='_blank') Best viewed on full screen
					//p.lead
						a.btn.btn-lg.btn-info(href='#')
							| Learn
							| more
				//.inner.cover
					h1.cover-heading 
						font(color= "#FFFFFF") Wilkommen in unserem Sponsoren Bereich. Ich möchten uns bald auf Ihre Unterstützung freuen
					p.lead
						| Cover is a one-page template for building simple and
						| beautiful home pages. Download, edit the text, and add your own
						| fullscreen background color and photo to make it your own.
					small
						br
						a(href='http://bootsnipp.com/iframe/g6GWQ' target='_blank') Best viewed on full screen
					p.lead
						a.btn.btn-lg.btn-info(href='#')
							| Learn
							| more
				//.mastfoot
					.inner
						// Validation
						p
							a(href='http://validator.w3.org/check?uri=http%3A%2F%2Fbootsnipp.com%2Fiframe%2Fg6GWQ' target='_blank')
							small HTML
							sup 5

			//li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false', style={color: "#009E60"})
									span.lang-sm.lang-lbl-full(lang='fr')
									caret
								ul.dropdown-menu(role='menu')
									li
										a.dropdown-item(href='#')
											span.lang-sm.lang-lbl-full(lang='de')
											caret
									li
										a.dropdown-item(href='#')
											span.lang-sm.lang-lbl-full(lang='en')
											caret

